[Unit]
Description=sarotate     
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
WorkingDirectory={{ sarotate_paths_location }}
ExecStartPre=/bin/sleep 30
ExecStart={{ sarotate_paths_location}}/SARotate

[Install]
WantedBy=default.target