# Suwayomi Server Configuration
# Documentation: https://github.com/Suwayomi/Suwayomi-Server/wiki/Configuring-Suwayomi-Server
# Download Format
server.downloadAsCbz = true

# Downloader
server.autoDownloadNewChapters = true # automatically download new chapters that have been retrieved

# Extension Repository
server.extensionRepos = [
    "https://raw.githubusercontent.com/keiyoushi/extensions/repo/index.min.json"
]
