# Suwayomi Server Configuration
# Documentation: https://github.com/Suwayomi/Suwayomi-Server/wiki/Configuring-Suwayomi-Server

# Automatically download new chapters after a library update
server.autoDownloadNewChapters = true

# Download new chapters for titles that Suwayomi marks as unread chapters
server.excludeEntryWithUnreadChapters = true

# Download Format
server.downloadAsCbz = true

# Downloader
server.autoDownloadNewChapters = true # automatically download new chapters that have been retrieved

# Extension Repository
server.extensionRepos = [
    "https://raw.githubusercontent.com/keiyoushi/extensions/repo/index.min.json"
]
