<?php
#########################################################################
# Title:         Sandbox: ruTorrent | Diskspace Plugin Configuration    #
# Author(s):     keldian                                                #
# URL:           https://github.com/saltyorg/Sandbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

$diskUpdateInterval = 10;     // in seconds
$notifySpaceLimit = 512;      // in Mb
$partitionDirectory = '{{ lookup('role_var', '_diskspace_mountpoint') }}'; // set this to the absolute path for checked partition.
