---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/docker/

# my-docker:
#   socket: /var/run/docker.sock

my-docker:
   host: {{ homepage_name }}-docker-socket-proxy
   port: 2375
