---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/docker/

# my-docker:
#   socket: /var/run/docker.sock

my-docker:
   host: {{ docker_socket_proxy_name }}
   port: 2375
