---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/settings

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey
title: Saltbox
# background: /images/background-1.png
backgroundOpacity: 0.3
headerStyle: boxed
base: {{ homepage_web_url }}
# layout:
#   Movies and Series Management:
#     # icon: /icons/film-solid.png
#     style: row
#     columns: 4
#   Media Server:
#     # icon: /icons/play-solid.png
#     style: row
#     columns: 3
