[Unit]
Description=tqm service

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=oneshot
WorkingDirectory={{ lookup('role_var', '_paths_location', role='tqm') }}
ExecStartPre=/bin/sleep 30
ExecStart={{ lookup('role_var', '_paths_location', role='tqm') }}/tqm \
  clean {{ lookup('role_var', '_download_client', role='tqm') }}

[Install]
WantedBy=default.target
