##########################################################################
# Title:            Sandbox: Notifiarr                                   #
# Author(s):        kowalski                                             #
# URL:              https://github.com/saltyorg/Sandbox                  #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
- name: Set Default Tautulli instance
  ansible.builtin.set_fact:
    tautulli_name: "{{ tautulli_instances[0] }}"
  when: not tautulli_name is defined

- name: Set Default Plex instance
  ansible.builtin.set_fact:
    plex_name: "{{ plex_name | default(plex_instances[0]) }}"
  when: not plex_name is defined

# Tautulli Tasks
- name: "Check if tautulli exists"
  ansible.builtin.stat:
    path: "{{ notifiarr_tautulli_config }}"
  register: tautulli_config

# Plex Tasks

- name: "Settings | Check if '{{ lookup('role_var', '_paths_config_location', role='plex') | basename }}' exists"
  ansible.builtin.stat:
    path: "{{ lookup('role_var', '_paths_config_location', role='plex') }}"
  register: preferences_xml

- name: Settings | {{ plex_name }} auth token tasks
  when: preferences_xml.stat.exists
  block:
    - name: Settings | Fetch {{ plex_name }} auth token
      community.general.xml:
        path: "{{ lookup('role_var', '_paths_config_location', role='plex') }}"
        xpath: /Preferences
        content: attribute
      register: preferences_xml_resp
      ignore_errors: true

    - name: Settings | Register {{ plex_name }} auth token value
      ansible.builtin.set_fact:
        plex_auth_token: "{{ preferences_xml_resp.matches[0].Preferences.PlexOnlineToken }}"

- name: Settings | Check if `{{ lookup('role_var', '_paths_config_location', role='notifiarr') | basename }}` exists
  ansible.builtin.stat:
    path: "{{ lookup('role_var', '_paths_config_location', role='notifiarr') }}"
  register: notifiarr_config

- name: Settings | New `{{ lookup('role_var', '_paths_config_location', role='notifiarr') | basename }}` tasks
  when: not notifiarr_config.stat.exists
  block:
    - name: Get Instance Info
      ansible.builtin.include_tasks: "{{ resources_tasks_path }}/instances/get_info.yml"
      vars:
        get_info_list:
          - sonarr
          - radarr
          - lidarr

    - name: Settings | Import default `{{ lookup('role_var', '_paths_config_location', role='notifiarr') | basename }}`
      ansible.builtin.template:
        src: notifiarr.conf.j2
        dest: "{{ lookup('role_var', '_paths_config_location', role='notifiarr') }}"
        owner: "{{ user.name }}"
        group: "{{ user.name }}"
        mode: "0664"
