#########################################################################
# Title:            Sandbox: Coder (deprecated)                         #
# Author(s):        GiorgioBrux                                         #
# URL:              https://github.com/saltyorg/Sandbox                 #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
########################################################################
---
- name: "Fail with deprecation warning"
  ansible.builtin.fail:
    msg: "The 'coder' role which used the 'code-server' image is currently deprecated in favour of the 'code-server' role using the same image. If you are using the default '/opt/coder' folder, after renaming the custom variables in the inventory if you have any, run \"sb install sandbox-code_server -e 'code_server_migrate_coder=true'\" once to move the files over to the new folder', then simply use the 'code-server' role from now on."