##########################################################################
# Title:            Sandbox: Handbrake                                   #
# Author(s):        Satz, kowalski                                       #
# URL:              https://github.com/saltyorg/Sandbox                  #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
################################
# Basics
################################

handbrake_name: handbrake

################################
# Paths
################################

handbrake_paths_folder: "{{ handbrake_name }}"
handbrake_paths_location: "{{ server_appdata_path }}/{{ handbrake_paths_folder }}"
handbrake_paths_folders_list:
  - "{{ handbrake_paths_location }}"
  - "/mnt/local/downloads/handbrake/watch"
  - "/mnt/local/downloads/handbrake/output"

################################
# Web
################################

handbrake_web_subdomain: "{{ handbrake_name }}"
handbrake_web_domain: "{{ user.domain }}"
handbrake_web_port: "5800"
handbrake_web_url: "{{ 'https://' + (handbrake_web_subdomain + '.' + handbrake_web_domain
                    if (handbrake_web_subdomain | length > 0)
                    else handbrake_web_domain) }}"

################################
# DNS
################################

handbrake_dns_record: "{{ handbrake_web_subdomain }}"
handbrake_dns_zone: "{{ handbrake_web_domain }}"
handbrake_dns_proxy: "{{ dns.proxied }}"

################################
# Traefik
################################

handbrake_traefik_sso_middleware: ""
handbrake_traefik_middleware_default: "{{ traefik_default_middleware }}"
handbrake_traefik_middleware_custom: ""
handbrake_traefik_certresolver: "{{ traefik_default_certresolver }}"
handbrake_traefik_enabled: true
handbrake_traefik_api_enabled: false
handbrake_traefik_api_endpoint: ""

################################
# Docker
################################

# Container
handbrake_docker_container: "{{ handbrake_name }}"

# Image
handbrake_docker_image_pull: true
handbrake_docker_image_tag: "latest"
handbrake_docker_image: "jlesage/handbrake:{{ handbrake_docker_image_tag }}"

# Ports
handbrake_docker_ports_defaults: []
handbrake_docker_ports_custom: []
handbrake_docker_ports: "{{ handbrake_docker_ports_defaults
                            + handbrake_docker_ports_custom }}"

# Envs
handbrake_docker_envs_default:
  USER_ID: "{{ uid }}"
  GROUP_ID: "{{ gid }}"
  TZ: "{{ tz }}"
  CLEAN_TMP_DIR: "1"
  ENABLE_CJK_FONT: "1"
  VNC_PASSWORD: "{{ handbrake.handbrake_pass | default('saltbox', true) }}"
handbrake_docker_envs_custom: {}
handbrake_docker_envs: "{{ handbrake_docker_envs_default
                           | combine(handbrake_docker_envs_custom) }}"

# Commands
handbrake_docker_commands_default: []
handbrake_docker_commands_custom: []
handbrake_docker_commands: "{{ handbrake_docker_commands_default
                               + handbrake_docker_commands_custom }}"

# Volumes
handbrake_docker_volumes_default:
  - "{{ handbrake_paths_location }}:/config:rw"
  - "/mnt:/storage:ro"
  - "/mnt/local/downloads/handbrake/watch:/watch:rw"
  - "/mnt/local/downloads/handbrake/output:/output:rw"
handbrake_docker_volumes_custom: []
handbrake_docker_volumes: "{{ handbrake_docker_volumes_default
                              + handbrake_docker_volumes_custom }}"

# Devices
handbrake_docker_devices_default: []
handbrake_docker_devices_custom: []
handbrake_docker_devices: "{{ handbrake_docker_devices_default
                              + handbrake_docker_devices_custom }}"

# Hosts
handbrake_docker_hosts_default: {}
handbrake_docker_hosts_custom: {}
handbrake_docker_hosts: "{{ docker_hosts_common
                            | combine(handbrake_docker_hosts_default)
                            | combine(handbrake_docker_hosts_custom) }}"

# Labels
handbrake_docker_labels_default: {}
handbrake_docker_labels_custom: {}
handbrake_docker_labels: "{{ docker_labels_common
                             | combine(handbrake_docker_labels_default)
                             | combine(handbrake_docker_labels_custom) }}"

# Hostname
handbrake_docker_hostname: "{{ handbrake_name }}"

# Networks
handbrake_docker_networks_alias: "{{ handbrake_name }}"
handbrake_docker_networks_default: []
handbrake_docker_networks_custom: []
handbrake_docker_networks: "{{ docker_networks_common
                               + handbrake_docker_networks_default
                               + handbrake_docker_networks_custom }}"

# Capabilities
handbrake_docker_capabilities_default: []
handbrake_docker_capabilities_custom: []
handbrake_docker_capabilities: "{{ handbrake_docker_capabilities_default
                                   + handbrake_docker_capabilities_custom }}"

# Security Opts
handbrake_docker_security_opts_default: []
handbrake_docker_security_opts_custom: []
handbrake_docker_security_opts: "{{ handbrake_docker_security_opts_default
                                    + handbrake_docker_security_opts_custom }}"

# Restart Policy
handbrake_docker_restart_policy: unless-stopped

# State
handbrake_docker_state: started
