#########################################################################
# Title:         Sandbox: Plex-Auto-Languages                           #
# Author(s):     hackmonker                                             #
# URL:           https://github.com/saltyorg/Sandbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Report Plex Account Status
  ansible.builtin.fail:
    msg: Requires Plex Account credentials to be entered in accounts.yml
  when: not plex_account_is_enabled

- name: Run tasks if Plex Account is enabled
  when: plex_account_is_enabled
  block:
    - name: Check config exists
      ansible.builtin.stat:
        path: "{{ plex_auto_languages_config_location }}"
      register: plex_auto_languages_config

    - name: Set Default Plex instance
      ansible.builtin.set_fact:
        plex_name: "{{ plex_name | default(plex_instances[0]) }}"

    - name: Import Plex Auth Token role
      ansible.builtin.include_role:
        name: plex_auth_token
      when: not plex_auto_languages_config.stat.exists

    - name: Create directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ user.name }}"
        group: "{{ user.name }}"
        mode: "0775"
      with_items: "{{ lookup('vars', role_name + '_paths_folders_list') }}"

    - name: Import default config
      ansible.builtin.template:
        src: config.yaml.j2
        dest: "{{ plex_auto_languages_config_location }}"
        owner: "{{ user.name }}"
        group: "{{ user.name }}"
        mode: "0664"
      when: not plex_auto_languages_config.stat.exists

    - name: Remove existing Docker container
      ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/remove_docker_container.yml"

    - name: Create Docker container
      ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/create_docker_container.yml"
