#########################################################################
# Title:            Saltbox: qbittorrentvpn                             #
# Author(s):        salty                                               #
# URL:              https://github.com/saltyorg/Saltbox                 #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
################################
# Basics
################################

qbittorrentvpn_instances: ["qbittorrentvpn"]

################################
# Settings
################################

qbittorrentvpn_log_level_daemon: info
qbittorrentvpn_log_level_web: info
qbittorrentvpn_name_servers: "84.200.69.80,1.1.1.1,84.200.70.40,1.0.0.1"
qbittorrentvpn_lan_network: "172.19.0.0/16"

################################
# Paths
################################

qbittorrentvpn_paths_folder: "{{ qbittorrentvpn_name }}"
qbittorrentvpn_paths_location: "{{ server_appdata_path }}/{{ qbittorrentvpn_paths_folder }}"
qbittorrentvpn_paths_downloads_location: "{{ downloads_torrents_path }}/{{ qbittorrentvpn_paths_folder }}"
qbittorrentvpn_paths_conf: "{{ qbittorrentvpn_paths_location }}/qBittorrent/config/qBittorrent.conf"
qbittorrentvpn_paths_folders_list:
  - "{{ qbittorrentvpn_paths_location }}"
  - "{{ qbittorrentvpn_paths_location }}/wireguard"
  - "{{ qbittorrentvpn_paths_downloads_location }}"
  - "{{ qbittorrentvpn_paths_downloads_location }}/completed"
  - "{{ qbittorrentvpn_paths_downloads_location }}/incoming"
  - "{{ qbittorrentvpn_paths_downloads_location }}/watched"
  - "{{ qbittorrentvpn_paths_downloads_location }}/torrents"

################################
# Web
################################

qbittorrentvpn_web_subdomain: "{{ qbittorrentvpn_name }}"
qbittorrentvpn_web_domain: "{{ user.domain }}"
qbittorrentvpn_web_port: "8080"
qbittorrentvpn_web_url: "{{ 'https://' + (lookup('vars', qbittorrentvpn_name + '_web_subdomain', default=qbittorrentvpn_web_subdomain) + '.' + lookup('vars', qbittorrentvpn_name + '_web_domain', default=qbittorrentvpn_web_domain)
                         if (lookup('vars', qbittorrentvpn_name + '_web_subdomain', default=qbittorrentvpn_web_subdomain) | length > 0)
                         else lookup('vars', qbittorrentvpn_name + '_web_domain', default=qbittorrentvpn_web_domain)) }}"

################################
# DNS
################################

qbittorrentvpn_dns_record: "{{ lookup('vars', qbittorrentvpn_name + '_web_subdomain', default=qbittorrentvpn_web_subdomain) }}"
qbittorrentvpn_dns_zone: "{{ lookup('vars', qbittorrentvpn_name + '_web_domain', default=qbittorrentvpn_web_domain) }}"
qbittorrentvpn_dns_proxy: "{{ dns.proxied }}"

################################
# Traefik
################################

qbittorrentvpn_traefik_sso_middleware: "{{ traefik_default_sso_middleware }}"
qbittorrentvpn_traefik_middleware_default: "{{ traefik_default_middleware }}"
qbittorrentvpn_traefik_middleware_custom: ""
qbittorrentvpn_traefik_certresolver: "{{ traefik_default_certresolver }}"
qbittorrentvpn_traefik_enabled: true
qbittorrentvpn_traefik_api_enabled: true
qbittorrentvpn_traefik_api_endpoint: "PathPrefix(`/api`) || PathPrefix(`/command`) || PathPrefix(`/query`) || PathPrefix(`/login`) || PathPrefix(`/sync`)"

################################
# Docker
################################

# Container
qbittorrentvpn_docker_container: "{{ qbittorrentvpn_name }}"

# Image
qbittorrentvpn_docker_image_pull: true
qbittorrentvpn_docker_image_repo: "binhex/arch-qbittorrentvpn"
qbittorrentvpn_docker_image_tag: "latest"
qbittorrentvpn_docker_image: "{{ lookup('vars', qbittorrentvpn_name + '_docker_image_repo', default=qbittorrentvpn_docker_image_repo)
                                 + ':' + lookup('vars', qbittorrentvpn_name + '_docker_image_tag', default=qbittorrentvpn_docker_image_tag) }}"

# Ports
qbittorrentvpn_docker_ports_defaults: []
qbittorrentvpn_docker_ports_custom: []
qbittorrentvpn_docker_ports: "{{ lookup('vars', qbittorrentvpn_name + '_docker_ports_defaults', default=qbittorrentvpn_docker_ports_defaults)
                                 + lookup('vars', qbittorrentvpn_name + '_docker_ports_custom', default=qbittorrentvpn_docker_ports_custom) }}"

# Envs
qbittorrentvpn_docker_envs_default:
  PUID: "{{ uid }}"
  PGID: "{{ gid }}"
  TZ: "{{ tz }}"
  UMASK_SET: "002"
  VPN_ENABLED: "yes"
  VPN_USER: "{{ qbittorrentvpn.vpn_user | default('username', true) }}"
  VPN_PASS: "{{ qbittorrentvpn.vpn_pass | default('password', true) }}"
  VPN_PROV: "{{ qbittorrentvpn.vpn_prov | default('pia', true) }}"
  VPN_CLIENT: "{{ qbittorrentvpn.vpn_client | default('wireguard', true) }}"
  STRICT_PORT_FORWARD: "yes"
  ENABLE_PRIVOXY: "no"
  LAN_NETWORK: "{{ qbittorrentvpn_lan_network }}"
  NAME_SERVERS: "{{ qbittorrentvpn_name_servers }}"

qbittorrentvpn_docker_envs_custom: {}
qbittorrentvpn_docker_envs: "{{ lookup('vars', qbittorrentvpn_name + '_docker_envs_default', default=qbittorrentvpn_docker_envs_default)
                                | combine(lookup('vars', qbittorrentvpn_name + '_docker_envs_custom', default=qbittorrentvpn_docker_envs_custom)) }}"

# Commands
qbittorrentvpn_docker_commands_default: []
qbittorrentvpn_docker_commands_custom: []
qbittorrentvpn_docker_commands: "{{ lookup('vars', qbittorrentvpn_name + '_docker_commands_default', default=qbittorrentvpn_docker_commands_default)
                                    + lookup('vars', qbittorrentvpn_name + '_docker_commands_custom', default=qbittorrentvpn_docker_commands_custom) }}"

# Volumes
qbittorrentvpn_docker_volumes_default:
  - "{{ qbittorrentvpn_paths_location }}:/config"
  - "{{ server_appdata_path }}/scripts:/scripts"
qbittorrentvpn_docker_volumes_custom: []
qbittorrentvpn_docker_volumes: "{{ lookup('vars', qbittorrentvpn_name + '_docker_volumes_default', default=qbittorrentvpn_docker_volumes_default)
                                   + lookup('vars', qbittorrentvpn_name + '_docker_volumes_custom', default=qbittorrentvpn_docker_volumes_custom) }}"

# Devices
qbittorrentvpn_docker_devices_default: []
qbittorrentvpn_docker_devices_custom: []
qbittorrentvpn_docker_devices: "{{ lookup('vars', qbittorrentvpn_name + '_docker_devices_default', default=qbittorrentvpn_docker_devices_default)
                                   + lookup('vars', qbittorrentvpn_name + '_docker_devices_custom', default=qbittorrentvpn_docker_devices_custom) }}"

# Hosts
qbittorrentvpn_docker_hosts_default: {}
qbittorrentvpn_docker_hosts_custom: {}
qbittorrentvpn_docker_hosts: "{{ docker_hosts_common
                                 | combine(lookup('vars', qbittorrentvpn_name + '_docker_hosts_default', default=qbittorrentvpn_docker_hosts_default))
                                 | combine(lookup('vars', qbittorrentvpn_name + '_docker_hosts_custom', default=qbittorrentvpn_docker_hosts_custom)) }}"

# Labels
qbittorrentvpn_docker_labels_default: {}
qbittorrentvpn_docker_labels_custom: {}
qbittorrentvpn_docker_labels: "{{ docker_labels_common
                                  | combine(lookup('vars', qbittorrentvpn_name + '_docker_labels_default', default=qbittorrentvpn_docker_labels_default))
                                  | combine(lookup('vars', qbittorrentvpn_name + '_docker_labels_custom', default=qbittorrentvpn_docker_labels_custom)) }}"

# Hostname
qbittorrentvpn_docker_hostname: "{{ qbittorrentvpn_name }}"

# Network Mode
qbittorrentvpn_docker_network_mode_default: "{{ docker_networks_name_common }}"
qbittorrentvpn_docker_network_mode: "{{ lookup('vars', qbittorrentvpn_name + '_docker_network_mode_default', default=qbittorrentvpn_docker_network_mode_default) }}"

# Networks
qbittorrentvpn_docker_networks_alias: "{{ qbittorrentvpn_name }}"
qbittorrentvpn_docker_networks_default: []
qbittorrentvpn_docker_networks_custom: []
qbittorrentvpn_docker_networks: "{{ docker_networks_common
                                    + lookup('vars', qbittorrentvpn_name + '_docker_networks_default', default=qbittorrentvpn_docker_networks_default)
                                    + lookup('vars', qbittorrentvpn_name + '_docker_networks_custom', default=qbittorrentvpn_docker_networks_custom) }}"

# Capabilities
qbittorrentvpn_docker_capabilities_default:
  - NET_ADMIN
qbittorrentvpn_docker_capabilities_custom: []
qbittorrentvpn_docker_capabilities: "{{ qbittorrentvpn_docker_capabilities_default
                                        + qbittorrentvpn_docker_capabilities_custom }}"

# Security Opts
qbittorrentvpn_docker_security_opts_default: []
qbittorrentvpn_docker_security_opts_custom: []
qbittorrentvpn_docker_security_opts: "{{ lookup('vars', qbittorrentvpn_name + '_docker_security_opts_default', default=qbittorrentvpn_docker_security_opts_default)
                                         + lookup('vars', qbittorrentvpn_name + '_docker_security_opts_custom', default=qbittorrentvpn_docker_security_opts_custom) }}"
# Sysctls
qbittorrentvpn_docker_sysctls:
  net.ipv4.conf.all.src_valid_mark: "1"

# Restart Policy
qbittorrentvpn_docker_restart_policy: unless-stopped

# Stop Timeout
qbittorrentvpn_docker_stop_timeout: 900

# State
qbittorrentvpn_docker_state: started

# Privileged
qbittorrentvpn_docker_privileged: "yes"
