#!/bin/bash
#########################################################################
# Title:         Sandbox: Python-PlexLibrary Helper Script              #
# Author(s):     desimaniac                                             #
# URL:           https://github.com/saltyorg/Sandbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

PATH='/usr/bin:/bin:/usr/local/bin'
export PYTHONIOENCODING=UTF-8

PYTHON_PATH='{{ python_plexlibrary_bin_folder }}/python3'
LOG_PATH='/opt/python-plexlibrary/plexlibrary.log'

echo $(date) | tee -a $LOG_PATH
echo "" | tee -a $LOG_PATH

(cd /opt/python-plexlibrary && $PYTHON_PATH plexlibrary "$@")
