http:
  routers:
    {{ cockpit_name }}-http:
      entryPoints:
        - "web"
      rule: "{{ traefik_host_template }}"
      middlewares:
        {{ traefik_default_middleware_http.split(',') | to_nice_yaml | trim | indent(8) }}
      service: "{{ cockpit_name }}"
    {{ cockpit_name }}:
      entryPoints:
        - "websecure"
      rule: "{{ traefik_host_template }}"
      middlewares:
        {{ traefik_middleware.split(',') | to_nice_yaml | trim | indent(8) }}
      service: "{{ cockpit_name }}"
      tls:
        options: securetls@file
        certResolver: {{ lookup('role_var', '_traefik_certresolver', role='cockpit') }}
{% if traefik_router_certificate_domains %}
        domains:
{{ traefik_router_certificate_domains | to_nice_yaml(indent=2) | trim | indent(10, true) }}
{% endif %}
{% if lookup('role_var', '_traefik_api_enabled', role='cockpit') %}
    {{ cockpit_name }}-api-http:
      entryPoints:
        - "web"
      rule: "{{ traefik_host_template }} && ({{ lookup('role_var', '_traefik_api_endpoint', role='cockpit') }})"
      middlewares:
        {{ traefik_default_middleware_http_api.split(',') | to_nice_yaml | trim | indent(8) }}
      priority: 30
      service: "{{ cockpit_name }}"

    {{ cockpit_name }}-api:
      entryPoints:
        - "websecure"
      rule: "{{ traefik_host_template }} && ({{ lookup('role_var', '_traefik_api_endpoint', role='cockpit') }})"
      middlewares:
        {{ traefik_middleware_api.split(',') | to_nice_yaml | trim | indent(8) }}
      priority: 30
      service: "{{ cockpit_name }}"
      tls:
        options: securetls@file
        certResolver: {{ lookup('role_var', '_traefik_certresolver', role='cockpit') }}
{% if traefik_router_certificate_domains %}
        domains:
{{ traefik_router_certificate_domains | to_nice_yaml(indent=2) | trim | indent(10, true) }}
{% endif %}
{% endif %}

  services:
    {{ cockpit_name }}:
      loadBalancer:
        servers:
          - url: "http://172.19.0.1:{{ lookup('role_var', '_web_port', role='cockpit') }}"
