[bot_envs]
Discord_bot_token = {{ membarr.discord_token }}
{% if plex_auth_token is defined %}
plex_base_url = {{ plex_web_url }}
plex_token = {{ plex_auth_token }}
plex_server_name = {{ plex_friendly_name }}
plex_user = {{ plex_online_username }}
{% endif %}
plex_pass =
plex_enabled = True
plex_libs = all
plex_roles = Add To Plex
