homeassistant: true
permit_join: true
mqtt:
  base_topic: {{ zigbee2mqtt_name }}
  server: mqtt://mqtt:1883
serial:
  port: /dev/ttyUSB0
frontend:
  port: {{ zigbee2mqtt_web_port }}
  url: {{ zigbee2mqtt_web_url }}
experimental:
  new_api: true
# Let Zigbee2MQTT generate a new network key on first start
advanced:
  network_key: GENERATE
  homeassistant_legacy_entity_attributes: false
  legacy_api: false
  legacy_availability_payload: false
device_options:
  legacy: false
availability:
  active:
    timeout: 10
  passive:
    timeout: 1500
