#########################################################################
# Title:            Sandbox: Jellystat                                  #
# Author(s):        salty                                               #
# URL:              https://github.com/saltyorg/Sandbox                 #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Add DNS record
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/dns/tasker.yml"
  vars:
    dns_record: "{{ lookup('role_var', '_dns_record') }}"
    dns_zone: "{{ lookup('role_var', '_dns_zone') }}"
    dns_proxy: "{{ lookup('role_var', '_dns_proxy') }}"

- name: Remove existing Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/remove_docker_container.yml"

- name: Create directories
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/directories/create_directories.yml"

- name: Check if JWT secret file exists
  ansible.builtin.stat:
    path: "{{ lookup('role_var', '_paths_jwt_secret_file', role='jellystat') }}"
  register: jwt_file

- name: Generate JWT Token Secret
  ansible.builtin.shell: openssl rand -base64 32
  register: jwt_secret
  when: not jwt_file.stat.exists

- name: Store JWT Token Secret in a file
  ansible.builtin.copy:
    content: "{{ jwt_secret.stdout }}"
    dest: "{{ lookup('role_var', '_paths_jwt_secret_file', role='jellystat') }}"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0664"
  when: not jwt_file.stat.exists

- name: Read JWT Token Secret from file
  ansible.builtin.shell: cat "{{ lookup('role_var', '_paths_jwt_secret_file', role='jellystat') }}"
  register: jwt_token
  changed_when: false

- name: "Import Postgres Role"
  ansible.builtin.include_role:
    name: postgres
  vars:
    postgres_instances: ["{{ lookup('role_var', '_postgres_name', role='jellystat') }}"]
    postgres_role_docker_image_tag: "{{ lookup('role_var', '_postgres_docker_image_tag', role='jellystat') }}"
    postgres_role_docker_image_repo: "{{ lookup('role_var', '_postgres_docker_image_repo', role='jellystat') }}"
    postgres_role_paths_folder: "{{ lookup('role_var', '_postgres_paths_folder', role='jellystat') }}"
    postgres_role_paths_location: "{{ lookup('role_var', '_postgres_paths_location', role='jellystat') }}"
    postgres_role_docker_env_db: "{{ lookup('role_var', '_postgres_docker_env_db', role='jellystat') }}"
    postgres_role_docker_env_user_include: "{{ lookup('role_var', '_postgres_user', role='jellystat') }}"
    postgres_role_docker_env_password_include: "{{ lookup('role_var', '_postgres_password', role='jellystat') }}"
    postgres_role_docker_healthcheck: "{{ lookup('role_var', '_postgres_docker_healthcheck', role='jellystat') }}"
  when: lookup('role_var', '_postgres_deploy', role='jellystat')

- name: Create Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/create_docker_container.yml"
