db.getSiblingDB("{{ unifi_network_application_mongo_dbname }}").createUser({user: "{{ unifi_network_application_mongo_user }}", pwd: "{{ unifi_network_application_mongo_pass }}", roles: [{role: "dbOwner", db: "{{ unifi_network_application_mongo_dbname }}"}, {role: "dbOwner", db: "{{ unifi_network_application_mongo_dbname }}_stat"}]});