#########################################################################
# Title:            Sandbox: Rocketchat                                 #
# Author(s):        Minds3t, salty, dvsmasta                            #
# URL:              https://github.com/saltyorg/Sandbox                 #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Add DNS record
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/dns/tasker.yml"
  vars:
    dns_record: "{{ lookup('role_var', '_dns_record') }}"
    dns_zone: "{{ lookup('role_var', '_dns_zone') }}"
    dns_proxy: "{{ lookup('role_var', '_dns_proxy') }}"

- name: Create directories
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/directories/create_directories.yml"

- name: Create upload directory
  ansible.builtin.file:
    path: "{{ rocketchat_role_paths_location }}/uploads"
    state: directory
    owner: "65533"
    group: "65533"
    mode: "0775"

- name: "RocketChat | Import init-mongo.js"
  ansible.builtin.template:
    src: init-mongo.js
    dest: '{{ rocketchat_role_paths_location }}/init-mongo.js'
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0775"
    force: true

- name: Remove legacy rocketchat_db Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/remove_docker_container.yml"
  vars:
    container_name: "rocketchat_db"

- name: Check if legacy mongodb folder exists
  ansible.builtin.stat:
    path: "{{ server_appdata_path }}/rocketchat_db"
  register: rocketchat_db_legacy_folder

- name: Check if new mongodb folder exists
  ansible.builtin.stat:
    path: "{{ rocketchat_role_paths_location }}/mongo"
  register: rocketchat_db_new_folder

- name: Migrate mongodb directory
  migrate_folder:
    legacy_path: "{{ server_appdata_path }}/rocketchat_db"
    new_path: "{{ rocketchat_role_paths_location }}/mongo"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0775'
    recurse: false
  when: rocketchat_db_legacy_folder.stat.exists and not rocketchat_db_new_folder.stat.exists

- name: MongoDB Role
  ansible.builtin.include_role:
    name: mongodb
  vars:
    mongodb_instances: ["{{ rocketchat_name }}-mongo"]
    mongodb_role_docker_image_tag: "{{ rocketchat_mongodb_role_docker_image_tag }}"
    mongodb_role_docker_commands: "{{ rocketchat_mongodb_role_docker_commands }}"
    mongodb_role_docker_volumes_custom: "{{ rocketchat_mongodb_role_docker_volumes_custom }}"
    mongodb_role_paths_location: "{{ rockatchat_mongodb_role_paths_location }}"

- name: Remove existing Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/remove_docker_container.yml"

- name: Create Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/create_docker_container.yml"
