##########################################################################
# Title:         Sandbox: openobserve | Default Variables                #
# Author(s):     salty, Thundernerd                                      #
# URL:           https://github.com/saltyorg/Sandbox                     #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
################################
# Basics
################################

openobserve_name: openobserve

################################
# Paths
################################

openobserve_role_paths_folder: "{{ openobserve_name }}"
openobserve_role_paths_location: "{{ server_appdata_path }}/{{ openobserve_role_paths_folder }}"
openobserve_role_paths_folders_list:
  - "{{ openobserve_role_paths_location }}"

################################
# Web
################################

openobserve_role_web_subdomain: "{{ openobserve_name }}"
openobserve_role_web_domain: "{{ user.domain }}"
openobserve_role_web_port: "5080"
openobserve_role_web_url: "{{ 'https://' + (lookup('role_var', '_web_subdomain', role='openobserve') + '.' + lookup('role_var', '_web_domain', role='openobserve')
                           if (lookup('role_var', '_web_subdomain', role='openobserve') | length > 0)
                           else lookup('role_var', '_web_domain', role='openobserve')) }}"

################################
# DNS
################################

openobserve_role_dns_record: "{{ lookup('role_var', '_web_subdomain', role='openobserve') }}"
openobserve_role_dns_zone: "{{ lookup('role_var', '_web_domain', role='openobserve') }}"
openobserve_role_dns_proxy: "{{ dns.proxied }}"

################################
# Traefik
################################

openobserve_role_traefik_sso_middleware: ""
openobserve_role_traefik_middleware_default: "{{ traefik_default_middleware }}"
openobserve_role_traefik_middleware_custom: ""
openobserve_role_traefik_certresolver: "{{ traefik_default_certresolver }}"
openobserve_role_traefik_enabled: true
openobserve_role_traefik_api_enabled: false
openobserve_role_traefik_api_endpoint: ""

################################
# Docker
################################

# Container
openobserve_role_docker_container: "{{ openobserve_name }}"

# Image
openobserve_role_docker_image_pull: true
openobserve_role_docker_image_tag: "latest"
openobserve_role_docker_image_repo: "public.ecr.aws/zinclabs/openobserve"
openobserve_role_docker_image: "{{ lookup('role_var', '_docker_image_repo', role='openobserve') }}:{{ lookup('role_var', '_docker_image_tag', role='openobserve') }}"

# Envs
openobserve_role_docker_envs_default:
  TZ: "{{ tz }}"
  PUID: "{{ uid }}"
  PGID: "{{ gid }}"
  ZO_ROOT_USER_EMAIL: "{{ user.email }}"
  ZO_ROOT_USER_PASSWORD: "{{ user.pass }}"
openobserve_role_docker_envs_custom: {}
openobserve_role_docker_envs: "{{ lookup('role_var', '_docker_envs_default', role='openobserve')
                                  | combine(lookup('role_var', '_docker_envs_custom', role='openobserve')) }}"

# Volumes
openobserve_role_docker_volumes_default:
  - "{{ lookup('role_var', '_paths_location', role='openobserve') }}:/data"
openobserve_role_docker_volumes_custom: []
openobserve_role_docker_volumes: "{{ lookup('role_var', '_docker_volumes_default', role='openobserve')
                                     + lookup('role_var', '_docker_volumes_custom', role='openobserve') }}"

# Hostname
openobserve_role_docker_hostname: "{{ openobserve_name }}"

# Networks
openobserve_role_docker_networks_alias: "{{ openobserve_name }}"
openobserve_role_docker_networks_default: []
openobserve_role_docker_networks_custom: []
openobserve_role_docker_networks: "{{ docker_networks_common
                                      + lookup('role_var', '_docker_networks_default', role='openobserve')
                                      + lookup('role_var', '_docker_networks_custom', role='openobserve') }}"

# Restart Policy
openobserve_role_docker_restart_policy: unless-stopped

# State
openobserve_role_docker_state: started
