# config.toml
---
server:
  host: 0.0.0.0
  port: 7441
  apiToken: {{ omegabrr_apitoken }}
schedule: "0 */6 * * *" # every 6th hour
clients:
  autobrr:
    host: {{ 'http://' + autobrr_docker_networks_alias + ':' + autobrr_web_port }}
    apikey: API_KEY

{%+ if True %}  arr:{% endif %}
{% for instance in radarr_info +%}
{% if radarr_info[instance]['api_key'] != 'not installed' %}
    - name: {{ radarr_info[instance]['name'] }}
      type: radarr
      host: {{ 'http://' + radarr_info[instance]['name'] + ':' + radarr_web_port }}
      apikey: {{ radarr_info[instance]['api_key'] }}
      filters: []
{% endif %}
{%- endfor %}
{% for instance in sonarr_info +%}
{% if sonarr_info[instance]['api_key'] != 'not installed' %}
    - name: {{ sonarr_info[instance]['name'] }}
      type: sonarr
      host: {{ 'http://' + sonarr_info[instance]['name'] + ':' + sonarr_web_port }}
      apikey: {{ sonarr_info[instance]['api_key'] }}
      filters: []
{% endif %}
{%- endfor %}