#########################################################################
# Title:         Saltbox: qbittorrentvpn Role                           #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: "Execute qBittorrent VPN roles"
  ansible.builtin.include_tasks: main2.yml
  vars:
    qbittorrentvpn_name: "{{ instance }}"
  with_items: "{{ qbittorrentvpn_instances }}"
  loop_control:
    loop_var: instance
