
# Loads default set of integrations. Do not remove.
default_config:

# Add the /tmp folder
homeassistant:
  allowlist_external_dirs:
  - "/tmp"

frontend:
  themes: !include_dir_merge_named themes

# Add cloud integration

cloud:

# Text to speech
tts:
  - platform: google_translate

# Uncomment below for script automation and scene integration

# script: !include scripts.yaml
# automation: !include automations.yaml
# scene: !include scenes.yaml

# Http entry for traefik
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.19.0.0/24
    - fd00:dead:beef::/48
