remote_configuration: true
directories:
  incomplete: {{ lookup('role_var', '_paths_downloads_location', role='slskd') }}/incomplete
  downloads: {{ lookup('role_var', '_paths_downloads_location', role='slskd') }}/completed
shares:
  directories:
    - '/mnt/unionfs/Media/Music'
web:
  authentication:
    disabled: true
    api_keys:
      my_api_key:
        key: 
soulseek:
  username: 
  password: 
