##########################################################################
# Title:         Sandbox: Requestrr | Default Variables                  #
# Author(s):     nostyle, TABLE272, salty                                #
# URL:           https://github.com/saltyorg/Sandbox                     #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
################################
# Basics
################################

requestrr_instances: ["requestrr"]

################################
# Paths
################################

requestrr_role_paths_folder: "{{ requestrr_name }}"
requestrr_role_paths_location: "{{ server_appdata_path }}/{{ requestrr_role_paths_folder }}"
requestrr_role_paths_folders_list:
  - "{{ requestrr_role_paths_location }}"

################################
# Web
################################

requestrr_role_web_subdomain: "{{ requestrr_name }}"
requestrr_role_web_domain: "{{ user.domain }}"
requestrr_role_web_port: "4545"
requestrr_role_web_url: "{{ 'https://' + lookup('vars', requestrr_name + '_web_subdomain', default=requestrr_role_web_subdomain)
                       + '.' + lookup('vars', requestrr_name + '_web_domain', default=requestrr_role_web_domain) }}"

################################
# DNS
################################

requestrr_role_dns_record: "{{ lookup('vars', requestrr_name + '_web_subdomain', default=requestrr_role_web_subdomain) }}"
requestrr_role_dns_zone: "{{ lookup('vars', requestrr_name + '_web_domain', default=requestrr_role_web_domain) }}"
requestrr_role_dns_proxy: "{{ dns.proxied }}"

################################
# Traefik
################################

requestrr_role_traefik_sso_middleware: "{{ traefik_default_sso_middleware }}"
requestrr_role_traefik_middleware_default: "{{ traefik_default_middleware }}"
requestrr_role_traefik_middleware_custom: ""
requestrr_role_traefik_certresolver: "{{ traefik_default_certresolver }}"
requestrr_role_traefik_enabled: true
requestrr_role_traefik_api_enabled: false
requestrr_role_traefik_api_endpoint: ""

################################
# Docker
################################

# Container
requestrr_role_docker_container: "{{ requestrr_name }}"

# Image
requestrr_role_docker_image_pull: true
requestrr_role_docker_image_repo: "thomst08/requestrr"
requestrr_role_docker_image_tag: "latest"
requestrr_role_docker_image: "{{ lookup('vars', requestrr_name + '_docker_image_repo', default=requestrr_role_docker_image_repo)
                            + ':' + lookup('vars', requestrr_name + '_docker_image_tag', default=requestrr_role_docker_image_tag) }}"

# Envs
requestrr_role_docker_envs_default:
  TZ: "{{ tz }}"
  PUID: "{{ uid }}"
  PGID: "{{ gid }}"
  UMASK: "002"
requestrr_role_docker_envs_custom: {}
requestrr_role_docker_envs: "{{ lookup('vars', requestrr_name + '_docker_envs_default', default=requestrr_role_docker_envs_default)
                           | combine(lookup('vars', requestrr_name + '_docker_envs_custom', default=requestrr_role_docker_envs_custom)) }}"

# Volumes
requestrr_role_docker_volumes_default:
  - "{{ requestrr_role_paths_location }}:/root/config"
requestrr_role_docker_volumes_custom: []
requestrr_role_docker_volumes: "{{ lookup('vars', requestrr_name + '_docker_volumes_default', default=requestrr_role_docker_volumes_default)
                              + lookup('vars', requestrr_name + '_docker_volumes_custom', default=requestrr_role_docker_volumes_custom) }}"

# Hostname
requestrr_role_docker_hostname: "{{ requestrr_name }}"

# Networks
requestrr_role_docker_networks_alias: "{{ requestrr_name }}"
requestrr_role_docker_networks_default: []
requestrr_role_docker_networks_custom: []
requestrr_role_docker_networks: "{{ docker_networks_common
                               + lookup('vars', requestrr_name + '_docker_networks_default', default=requestrr_role_docker_networks_default)
                               + lookup('vars', requestrr_name + '_docker_networks_custom', default=requestrr_role_docker_networks_custom) }}"

# Restart Policy
requestrr_role_docker_restart_policy: unless-stopped

# State
requestrr_role_docker_state: started
