##########################################################################
# Title:         Community: GoAccess | Default Variables                 #
# Author(s):     salty                                                   #
# URL:           https://github.com/saltyorg/Community                   #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
################################
# Basics
################################

goaccess_name: goaccess

################################
# Paths
################################

goaccess_paths_folder: "{{ goaccess_name }}"
goaccess_paths_location: "{{ server_appdata_path }}/{{ goaccess_paths_folder }}"
goaccess_paths_folders_list:
  - "{{ goaccess_paths_location }}"

################################
# Web
################################

goaccess_web_subdomain: "{{ goaccess_name }}"
goaccess_web_domain: "{{ user.domain }}"
goaccess_web_port: "7889"
goaccess_web_url: "{{ 'https://' + goaccess_web_subdomain + '.' + goaccess_web_domain
                   if (reverse_proxy_is_enabled)
                   else 'http://localhost:' + goaccess_web_port }}"

################################
# DNS
################################

goaccess_dns_record: "{{ goaccess_web_subdomain }}"
goaccess_dns_zone: "{{ goaccess_web_domain }}"

################################
# Traefik
################################

goaccess_traefik_sso_middleware: "{{ traefik_default_sso_middleware }}"
goaccess_traefik_middleware: "{{ traefik_default_middleware + ',' + goaccess_traefik_sso_middleware
                              if (goaccess_traefik_sso_middleware | length > 0)
                              else traefik_default_middleware }}"
goaccess_traefik_certresolver: "{{ traefik_default_certresolver }}"
goaccess_traefik_enabled: true

################################
# Docker
################################

# Container
goaccess_docker_container: "{{ goaccess_name }}"

# Image
goaccess_docker_image_pull: true
goaccess_docker_image_tag: "latest"
goaccess_docker_image: "gregyankovoy/goaccess:{{ goaccess_docker_image_tag }}"

# Ports
goaccess_docker_ports_defaults:
  - "{{ goaccess_web_port }}"
goaccess_docker_ports_custom: []
goaccess_docker_ports: "{{ goaccess_docker_ports_defaults
                           + goaccess_docker_ports_custom
                        if (not reverse_proxy_is_enabled)
                        else [] + goaccess_docker_ports_custom }}"

# Envs
goaccess_docker_envs_default:
  TZ: "{{ tz }}"
  PUID: "{{ uid }}"
  PGID: "{{ gid }}"
goaccess_docker_envs_custom: {}
goaccess_docker_envs: "{{ goaccess_docker_envs_default
                          | combine(goaccess_docker_envs_custom) }}"

# Commands
goaccess_docker_commands_default: []
goaccess_docker_commands_custom: []
goaccess_docker_commands: "{{ goaccess_docker_commands_default
                              + goaccess_docker_commands_custom }}"

# Volumes
goaccess_docker_volumes_default:
  - "{{ goaccess_paths_location }}:/config"
  - "/opt/traefik:/opt/log"
goaccess_docker_volumes_custom: []
goaccess_docker_volumes: "{{ goaccess_docker_volumes_default
                             + goaccess_docker_volumes_custom
                             + docker_volumes_downloads_common }}"

# Devices
goaccess_docker_devices_default: []
goaccess_docker_devices_custom: []
goaccess_docker_devices: "{{ goaccess_docker_devices_default
                             + goaccess_docker_devices_custom }}"

# Hosts
goaccess_docker_hosts_default: []
goaccess_docker_hosts_custom: []
goaccess_docker_hosts: "{{ docker_hosts_common
                           | combine(goaccess_docker_hosts_default)
                           | combine(goaccess_docker_hosts_custom) }}"

# Labels
goaccess_docker_labels_default: {}
goaccess_docker_labels_custom: {}
goaccess_docker_labels: "{{ docker_labels_common
                            | combine(goaccess_docker_labels_default)
                            | combine(goaccess_docker_labels_custom) }}"

# Hostname
goaccess_docker_hostname: "{{ goaccess_name }}"

# Networks
goaccess_docker_networks_alias: "{{ goaccess_name }}"
goaccess_docker_networks_default: []
goaccess_docker_networks_custom: []
goaccess_docker_networks: "{{ docker_networks_common
                              + goaccess_docker_networks_default
                              + goaccess_docker_networks_custom }}"

# Capabilities
goaccess_docker_capabilities_default: []
goaccess_docker_capabilities_custom: []
goaccess_docker_capabilities: "{{ goaccess_docker_capabilities_default
                                  + goaccess_docker_capabilities_custom }}"

# Security Opts
goaccess_docker_security_opts_default: []
goaccess_docker_security_opts_custom: []
goaccess_docker_security_opts: "{{ goaccess_docker_security_opts_default
                                   + goaccess_docker_security_opts_custom }}"

# Restart Policy
goaccess_docker_restart_policy: unless-stopped

# State
goaccess_docker_state: started

# Stop Timeout
goaccess_docker_stop_timeout: 10

# Force Kill
goaccess__docker_force_kill: true
