# a-train.toml
[autoscan]
# Replace the URL with your Autoscan URL.
url = "{{ 'http://' + lookup('role_var', '_docker_networks_alias', role='autoscan') + ':' + lookup('role_var', '_web_port', role='autoscan') }}"
username = "{{ user.name }}"
password = "{{ user.pass }}"

[drive]
# Path to the Service Account key file,
# relative to the configuration file.
account = "./account.json"
# One or more Shared Drive IDs
drives = ["{{ td_id }}"]
